<div class="container mt-3 text-center" style="text-transform: capitalize">
  <%if(typeof errors!='undefined'){%> <%errors.forEach((error)=>{%>
  <div class="alert alert-danger" role="alert">
    <%=error.msg%>
  </div>

  <%});%> <%}%> <%if(success_msg!=""){%>
  <div class="alert alert-success" role="alert">
    <%=success_msg%>
  </div>
  <%}%> <%if(error_msg!=""){%>
  <div class="alert alert-danger" role="alert">
    <%=error_msg%>
  </div>
  <%}%> <%if(error!=""){%>
  <div class="alert alert-danger" role="alert">
    <%=error%>
  </div>
  <%}%>
</div>
