<div class="container mt-5">
  <div class="row justify-content-center">
    <h3>Add New departement</h3>
  </div>
  <form action="/addDepartment" method="POST">
    <% %>
    <div class="form-group">
      <label for="exampleInputEmail1">Departement name:</label>
      <input
        type="text"
        class="form-control"
        name="departmentName"
        aria-describedby="emailHelp"
        placeholder="Enter departement name"
      />
      <input
        type="checkbox"
        name="isActive"
        id="isActive"
        value="1"
        checked
        style="display: none"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
