<div class="container text-center">
  <h1>Admin Dashboard</h1>
  <a href="/updateComment" class="btn btn-primary">Comments</a>
  <a href="/updateDepartment" class="btn btn-primary">Departments</a>
  <a href="/updateBudgetHead" class="btn btn-primary">Budget Head</a>
</div>
