

<div class="container text-center">
  <h1>Admin Dashboard</h1>
  <a href="/viewComments" class="btn btn-primary">Comments</a>
  <a href="/viewDepartment" class="btn btn-primary">Deaprtments</a>
  <a href="/viewBudgetHead" class="btn btn-primary">Budget Head</a>
</div>
