<div class="container mt-3">
  <h1 class="text-center ">Welcome to dashboard</h1>
  <hr />
  <div class="container">
    <hr />
    <a href="/newForm">New Form</a>
    <hr />
    <!-- <a href="/existing">Existing</a> -->
    <!-- <hr /> -->
    <!-- <a href="/sentBack">Sent Back</a> -->
    <!-- <hr /> -->
    <!-- <a href="/waitingForApproval">Forms</a> -->
    <!-- <hr /> -->
    <!-- <a href="/addDepartment">New Department</a> -->
    <!-- <hr /> -->
    <!-- <a href="/viewDepartment">View all Departments</a> -->
    <a href="/adminDash">Admin Dashboard</a>
    <hr />
    <a href="/queries">Search form</a>

    <hr />
  </div>
  <hr />
  <% include partials/footer %>
</div>
