<div class="container mt-3">
  <h1 class="text-center ">Welcome to dashboard</h1>
  <hr />
  <div class="container">
    <%include ./partials/messages%>
    <hr />
    <a href="/newForm">New Form</a>
    <hr />
    <a href="/adminDash">Admin Dashboard</a>
    <hr />
    <a href="/queries">Search form</a>

    <hr />
  </div>
  <hr />
  <% include partials/footer %>
</div>
