<div class="container">
  <h1>Welcome to dashboard</h1>
  <hr />
  <div class="container">
    <hr />
    <a href="/newForm">New Form</a>
    <hr />
    <a href="/existing">Existing</a>
    <hr />
    <a href="/sentBack">Sent Back</a>
    <hr />
    <a href="/waitingForApproval">Waiting for approval</a>
    <hr />
    <a href="/addDepartment">New Department</a>
    <hr />
    <a href="/viewDepartment">View all Departments</a>
    <hr />
  </div>
  <hr />
  <% include partials/footer %>
</div>
