<hr />
<div class="container">
  <h1 class="text-center">Welcome to Dcrust</h1>
  <h3><a href="/adminDash"> Admin Dashboard</a></h3>
  <h3><a href="/dashboard">Dashboard</a></h3>
  <hr />
  <% include partials/footer %>
</div>
