<% include partials/header %>
<hr />
<div class="container">
  
  <hr />
  <a href="/newForm">New Form</a>
  <hr />
  <a href="/existing">Existing</a>
  <hr />
  <a href="/approval">Waiting for approval</a>
  <hr />
  <a href="/newDepartment">New Department</a>
  <hr>
  <a href="/viewDep">View all Departments</a>
  <hr>
</div>
<hr>
<% include partials/footer %>
