<div class="container">
  <%include ./partials/messages%>
  <form action="/auth/login" method="POST">
    <div class="form-group">
      <label for="emailId">Email Id</label>
      <input type="email" class="form-control" name="email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" />
    </div>
    <input type="Submit" class="btn btn-primary" value="Login" />
  </form>
</div>

<% include partials/footer %>
