<% include partials/header %>

<div class="container">
    <form class="form-group" action="/newForm" method="POST">
        <input type="text" class="form-control" name="field1" placeholder="field1">
        <input type="text" class="form-control" name="field2" placeholder="field2">
        <input type="text" class="form-control" name="field3" placeholder="field3">
        <input type="text" class="form-control" name="field4" placeholder="field4">
        <input type="text" class="form-control" name="field5" placeholder="field5">
        <button class="btn btn-primary">Submit</button>
    </form>
</div>



<% include partials/footer %>