<div class="container mt-4 justify-content-center">
  <form action="/queries" method="POST" class="justify-content-center d-flex">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="File-Id"
          name="fileId"
        />
      </div>
      <div class=" form-group">
        <select
          type="text"
          class="form-control"
          placeholder="Department"
          name="department"
          >
          <option value="">All Departments</option>

          <option value="1">Department 1</option>
          <option value="2">Department 2</option>
          <option value="3">Department 3</option>
          <option value="4">Department 4</option>
          <option value="5">Department 5</option>

        </select>
        
      </div>
      <div class="col">
        <input
          type="date"
          class="form-control"
          placeholder="date"
          name="date"
        />
      </div>
      <div class="col">
        <input
          type="number"
          class="form-control"
          placeholder="cost"
          name="cost"
          min="0"
        />
      </div>
      <div class="col">
        <button class=" btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>

  <hr />
  <% for(var i=0; i<files.length ; i++){ %>
    <a href="/waitingForApproval/<%= files[i]._id %>"><%= files[i].fileId %></a><hr>
  <% } %>
  <hr />
</div>
