<div class="container p-3">
  <h1 class="text-center">Deparments</h1>
  <form action="/updateDepartment" method="POST">
    <input type="hidden" value='' name="heads">

    <%for(var i=0;i<Departments.length;i++){%>
    <div class="row d-block">
      <div class="row d-flex justify-content-center mx-5 ">
        <div class="col text-center border border-info">
          <label><%=Departments[i].departmentName%></label>
          <input type="checkbox" class="departments" name="departments" class="ml-2" value="<%=Departments[i]._id%>"
            <%if(Departments[i].isActive){%>checked="true" <%}%> />
          </div>
        </div>
      </div>
      <%}%> <div class="row d-flex justify-content-center">
          <input type="text" name="newDepartment" placeholder="Add new Department.." class="form-control my-2"
            style="width:50%" />
        </div>
        <div class="row d-flex justify-content-center">
          <button class="btn btn-info" type="submit" style="width: 50%">
            Update
          </button>
        </div>
  </form>
</div>